#piano-container {
    display: flex;
    position: absolute;
    top: 30%;
    left: 0px;
    height: 25%;
    width: 70%;
    min-width: 620px;
    /* background-color: rgb(11, 73, 0); */
}

#piano-white {
    display: flex;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 90%;
    height: 80%;
}

#piano-black {
    display: flex;
    position: absolute;
    top: -1%;
    left: 2.9%;
    width: 86%;
    height: 50%;
}


.key {
    display: inline-block;
    z-index: 2;
}

.b-note {
    background-color: rgb(0, 0, 0);
    margin: 1%;
    width: 5%;
    height: 80px;
    transition: 0.2s;
    border-radius: 5px;
    height: 100%;
    /* top: 50%; */
    /* padding: 7px; */
    
    /* visibility: hidden; */
}

.unreal {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    margin: 1%;
    width: 5%;
    height: 80px;
    transition: 0.2s;
    border-radius: 5px;
    /* padding: 7px; */
    visibility: hidden;
    z-index: -5;
}

.w-note {
    background-color: white;
    width: 10%;
    height: 100%;
    transition: 0.2s;
    border-radius: 5px;
    margin: 0.3%;
    /* visibility: hidden; */
}

.w-note:hover {
    background-color: rgb(218, 218, 218);
    transition: 0.2s;
}

.b-note:hover {
    background-color: rgb(42, 42, 42);
    transition: 0.2s;
}

.w-note.lit {
    background-color: rgb(255, 20, 220);
}

.b-note.lit {
    background-color: rgb(100, 0, 255);
}


.w-note.lit:hover {
    background-color: rgb(255, 85, 229);
}

.b-note.lit:hover {
    background-color: rgb(133, 59, 230);
}

